.jumbotron {
    background-image: url(https://cdn.pixabay.com/photo/2015/09/08/17/35/man-930397_960_720.jpg);
    background-size: cover;
    height: 600px;
}
#btn-add {
    margin-top: 100px;
}

/* nav {
    position: fixed;
} */